<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置包扫描器-->
    <context:component-scan base-package="com.e3mall"/>

    <!--配置dubbo服务-->
    <!--提供方应用信息，用于计算依赖关系-->
    <dubbo:application name="e3_manager"/>
    <!--配置注册中心-->
    <dubbo:registry protocol="zookeeper" address="192.168.25.130:2181"/>
    <!--dubbo暴露的端口-->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.e3mall.service.ItemService" ref="itemService" timeout="60000"/>
    <dubbo:service interface="com.e3mall.service.ItemCatService" ref="itemCatService" timeout="60000"/>
</beans>