<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置包扫描器-->
    <context:component-scan base-package="com.e3mall"/>

    <!--加载配置文件-->
    <context:property-placeholder location="classpath:config/resource.properties"/>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 引用dubbo服务 -->
    <dubbo:application name="e3_portal_web"/>
    <dubbo:registry protocol="zookeeper" address="192.168.25.130:2181"/>
    <dubbo:protocol name="dubbo" port="20880" />
<dubbo:reference interface="com.e3mall.content.service.ContentService" id="contentService" check="false" timeout="12000"/>
</beans>